In [3]:
import os

In [6]:
directory = 'packages'
os.mkdir(directory)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'packages'

In [8]:
os.listdir('.')

['hi.ipynb', 'hi2.ipynb', 'packages', 'requirements.txt', 'try.py', 'venv']

In [9]:
relative_path = 'try.py'
comp_path = os.path.abspath(relative_path)
print(comp_path)

c:\Users\HP\OneDrive\Desktop\ML\try.py

In [11]:
a=0
try: 
    a=b
except NameError as ex:
    print(ex)

name 'b' is not defined

In [15]:
try:
    x = 1/2
    a = b
except ZeroDivisionError as ex:
    print(ex)
except Exception as ex1:
    print(ex1)
    print("Main exception got caught")

name 'b' is not defined
Main exception got caught

In [16]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"{self.name}, {self.age} years old"
    
    def __repr__(self):
        return f"Person(name={self.name}, age={self.age})"

person = Person('Aneesh',19)
print(person)
print(repr(person))

Aneesh, 19 years old
Person(name=Aneesh, age=19)

In [19]:
class Error(Exception): 
    pass
class dobException(Exception):
    pass

In [20]:
year = int(input("Enter the dob"))
age = 2024-year
try:
    if age<=30 and age>=20:
        print("The age is valid so you can apply for the exam")
    else:
        raise dobException
except dobException:
    print("Sorry, your age should be greater than 20 or less than 30")

Sorry, your age should be greater than 20 or less than 30

In [22]:
my_list = [1,2,3,4,5,6]
iterator = iter(my_list)
iterator

In [ ]:
try:
    print(next(iterator))
except StopIteration:
    print("There are no elements in the iterator")

In [25]:
def square(n):
    for i in range(n):
        yield i**2

for i in square(9):
    print(i)

0
1
4
9
16
25
36
49
64

In [26]:
def fun1(func,lst):
    def func2():
        print("Welcome to the advance python course")
        print(func(lst))
    return func2()

fun1(len,[1,2,3,4,5])

Welcome to the advance python course
5

In [27]:
def func1(func):
    def func2():
        print("Hello")
        func()
        print("Tomorrow")
    return func2

@func1
def func3():
    print("World")

func3()

Hello
World
Tomorrow

In [5]:
import pandas as pd
url = "https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url,match="Country")[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [7]:
import sqlite3
connection = sqlite3.connect('example.db')
connection

In [8]:
cursor = connection.cursor()
cursor.execute('''
Create Table If Not Exists employees(
               id int Primary Key,
               name text not null,
               age int,
               department text
               )
''')
connection.commit()

In [9]:
cursor.execute('''
insert into employees(name,age,department) values
               ('Bob',35,'Fianance'),
               ('Aneesh',19,'Student'),
               ('Ansh',21,'Data Engineer')
''')
connection.commit()

In [11]:
cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(None, 'Bob', 35, 'Fianance')
(None, 'Aneesh', 19, 'Student')
(None, 'Ansh', 21, 'Data Engineer')

In [12]:
cursor.execute('''
update employees
set age = 20
where 
name = 'Aneesh'
''')
connection.commit()

In [13]:
cursor.execute('''
delete from employees 
where name = 'Ansh'
''')
connection.commit()

In [14]:
cursor.execute('''
insert into employees(name,age,department) values
               (?,?,?)''',('Ansh',90,'IT'))
connection.commit()